.sidebar_main{
    height: 100%;
    width: 18%;
    border-right: 2px solid rgb(205, 203, 203);
    padding-left: 30px;
}





/* ********  MOBILE DEVICE  ********* */
@media only screen and (max-width: 600px){
    .sidebar_main{
        display: none;
    }
}