.side_details{
    width: 28%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    padding-left: 60px;
}

.detail_icon{
    width: 25px;
    height: 25px;
    color: gray;
    margin-right: 8px;
}

.details p{
    display: flex;
    align-items: center;
    justify-content: left;
}

.details, .location_details{
    width: 80%;
    display: list-item;
    list-style: none;
    border-bottom: 2px solid rgb(214, 214, 214);
}

.price_details{
    width: 80%;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}


.contactnow_btn{
    transition: 0.3s;

    width: 150px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #7006ccbd;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.contactnow:hover{
    transition: 0.3s;

    color: #7006ccde;
    background-color: white;
    border: 2px solid #7006ccde;
}
