.body_container{
    height: 100%;
    width: 100%;
    position: relative;
}

.item_div_main{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    overflow-y: scroll;
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

::-webkit-scrollbar {
    display: none;
}

.listing_main{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    padding: 30px;
    background-color: rgb(240, 240, 240);
    display: inline-block;
}

.sidebar{
    height:50%;
    width: 28%;
    display: inline-block;
    justify-content: center;
    margin: 30px;
    background-color: #f6f6f696;

}

.filter_price{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(202, 202, 202);
    background-color: rgba(1, 0, 3, 0.72);
    padding: auto;
    display: flex;
    justify-content: space-between;
}

.filter_price h3{
    color: white;
    margin-left: 15px;
    font-size: 14px;
}

.search_div{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(202, 202, 202);
    padding: auto;
    display: flex;
    justify-content: space-evenly;
}

#search_input{
    height: 37px;
    width: 80%;
    border: 1px solid rgb(202, 202, 202);
    font-size: 16px;
    padding-left: 10px;
    border-radius: 20px;
}

#search_input:focus{
    outline: none;
}

.search_btn_mobile{
    margin-top: 5px;
    height: 25px;
    width: 25px;
}

.apply_btn{
    height: 40px;
    width: 100px;
    color: white;
    background-color: rgb(30, 0, 162);
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.apply_btn:hover{
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    color:  rgb(30, 0, 162);
    border: 2px solid rgb(30, 0, 162);
    font-weight: 500;
}

.home_container{
    height: 100%;
    width: 100%;
    display: flex;
}

.search_div_2{
    display: none;
}

.mobile_price_selector{
    display: none;
}



@media screen and (max-width: 600px){
    .body_container{
        margin-bottom: 80px;
        margin-top: 35px;
    }

    .listing_main{
        padding: 5px;
        box-sizing: border-box;
        background: none;
    }

    .item_div_main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        row-gap: 30px;
        background: none;
    }
    

    .mobile_price_selector{
        width: 100%;
        height: 80px;
        background-color: white;
        border-top: 1px solid #7006cc;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
}