.logobanner_div{
    height: 130px;
    padding: 20px 0px;
    white-space: nowrap;
    background-color: rgb(227, 227, 227);
    display: inline-block;
    animation:  5s slider infinite linear;

}

.banner{
    overflow: hidden;
    white-space: nowrap;
    position: relative;

}

.car_logo{
    transition: 0.4s;
    height: 80px;
    width: 80px;
    margin: 0 50px;
    color: rgb(102, 102, 102);
}

.smallLogo{
    height: 100px;
    width: 100px;
    transition: 0.4s;
    margin: 0 50px;

    color: rgb(102, 102, 102);
}

.smallLogo:hover{
    height: 100px;
    width: 100px;
    transition: 0.4s;
    color: rgb(0, 0, 0);
}

.car_logo:hover{
    transition: 0.4s;
    height: 80px;
    width: 80px;
    color: rgb(0, 0, 0);
}


@keyframes slider {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}



.smallLogo:hover .logobanner_div{
    animation-play-state: paused;
}

.banner::before, .banner::after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: '';
    z-index: 2;
}

.banner::before{
    background: linear-gradient(to left, transparent, transparent, white);
    left: 0;
}

.banner::after{
    background: linear-gradient(to right, transparent, transparent, white);
    right: 0;
}




/* ********  MOBILE DEVICE  ********* */
@media only screen and (max-width: 600px){

    @keyframes slider {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-100%);
        }
    }

    .banner{
        overflow: hidden;
        white-space: nowrap;
        position: relative;
    }

    .logobanner_div{
        height: 80px;
        display: inline-block;
        animation:  5s slider infinite linear;
    }

    .smallLogo{
        height: 70px;
        width: 70px;
        margin: 0 30px;
    }

    .car_logo{
        height: 50px;
        width: 50px;
        margin: 0 30px;
    }

    .car_logo:hover .logobanner_div{
        animation-play-state: paused;
    }

        
    .banner::before, .banner::after{
        position: absolute;
        top: 0;
        width: 60px;
        height: 100%;
        content: '';
        z-index: 2;
    }

    .banner::before{
        background: linear-gradient(to left, transparent, white);
        left: 0;
    }

    .banner::after{
        background: linear-gradient(to right, transparent, white);
        right: 0;
    }



}


